<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WORKERS REGISTRATION</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">">

</head>
<body>

 <nav class="navbar navbar-expand-sm bg-dark navbar-dark mx-auto">
  <div class="container-fluid">
    <a style="color: maroon ;text-decoration-line: underline" class="navbar-brand" href="#">WORKERS UNION</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}}">REGISTER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">DASHBOARD</a>
        </li>

      </ul>
    </div>
  </div>
</nav>


<div style="background-image: linear-gradient(to bottom,orange,darkorange )"class="container  row p-4 mx-auto mt-5" >
  <div class="col-md-8 mt-5" >
    <form style="margin-bottom: 100px;margin-left: 170px" class="container-fluid row  bg-white ">
        <h1 style="text-align: center;text-decoration-line: underline;color: blue">REGISTRATION OF WORKERS </h1>
        <span style="text-align: center">fill out the form carefully for registration</span>
        <div class="col-md-6">
             <label>FIRSTNAME</label>
             <input type="text" name="firstname" placeholder="enter your firstname" class="form control" style="margin-bottom: 40px;margin-top: 30px">

              <label>LASTNAME</label>
              <input type="text" name="lastname" placeholder="enter your lastname " class="form control" style="margin-bottom: 20px;margin-top: 30px">
        </div>

        <div class="col-md-6">
             <label>AGE</label>
             <input type="number" name="age" placeholder="enter your age " class="form control" style="margin-top: 30px">

             <label>PHONENUMBER</label>
             <input type="text" name="phone" placeholder="enter your phone number" class=" form control" style="margin-top: 70px">
        </div>

        <div class="col-md-12">
               <label>EMAIL</label>
               <input type="text" name="email" class="form control" placeholder="enter your email" style="" >

               <button type="REGISTER" class="btn btn-success btn-right " style="margin-top: 100px;">REGISTER</button>
        </div>

    </form>
  </div>












</div>
































<Script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>