<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WORKERS UPDATES FORM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">">



</head>
<body>

<div style="background-image: linear-gradient(to right,mediumpurple,darkmagenta)" class="container  row p-8 bg-primary mx-auto mt-5">
  <div class="col-md-8">
     <form  method="POST" action="/updateworker/{{data.id}}" class="container-fluid row mx-auto"  style="margin-left: 30px" >
         <h1 style="text-align: center">UPDATE FORM</h1>
         {% csrf_token  %}
         <div class="col-md-6">
             <label>FIRSTNAME</label>
             <input type="text" name="firstname" value=" {{data.first_name  }} " id="firstname"  placeholder="enter your firstname" class="form control" style="margin-bottom: 40px">

             <label>LASTNAME</label>
             <input type="text" name="lastname" value=" {{ data.last_name }}" id="lastname" placeholder="enter your lastname" class="form control" style="margin-bottom: 40px">
         </div>


         <div class="col-md-6">
              <label>PHONE NUMBER</label>
              <input type="number" name="phonenumber" value="{{ data.phone_number }} " id="phonenumber" placeholder="enter you phone number" class="form control" style="margin-bottom: 40px">

              <label>AGE</label>
              <input type="number" name="age" value="{{ data.age }}" id="age" placeholder="enter your age" class="form control" style="margin-bottom: 40px">
         </div>

         <div class="col-md-6">
              <label for="email" class="form-label">EMAIL</label>
              <input type="text" name="email" value="{{ data.email }}" id="email" placeholder="enter your email account" style="margin-bottom: 40px">

              <label>FIELD OF SPECIALITY</label>
              <input type="text"  name="field" value=" {{ data.field }}"  id="field" style="margin-bottom: 20px">

         </div>

         <div class="col-md-6">
             <button type="UPDATE" class="btn btn-primary">UPDATE</button>
         </div>
     </form>
  </div>

</div>



























<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>





</body>
</html>